.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

.App-title {
  display: flex;
  align-self: flex-start;
  text-align: center;
  font-size: 32px;
  margin: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form {
  text-align: left;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 15px;
}

.App-link {
  color: #61dafb;
}

.tracked-artists {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 10px;
}

/* Artist card styling */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 40px;
  width: 200px;
}


.card-body {
  padding-bottom: 16px;
  cursor: pointer;
}

.card-title {
  font-size: 1.5rem;
  margin: 0;
}

.concert-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.concert-item {
  padding: 8px 0;
  border-top: 1px solid #eee;
}

